<form method="post" action="{{ path('app_search_setpath') }}" class="form-inline">
    <div class="form-group">
        <input type="text" name="localization" class="form-control" placeholder="Miejsce"/>
        <input type="text" name="tags" class="form-control" placeholder="Tagi"/>
    </div>
    <button type="submit" class="btn btn-default">Szukaj</button>
</form>