{% extends "::base.html.twig" %}

{% block body %}
    <div class="container">
        <h3>Rejestracja</h3>
        {% include "@FOSUser/Registration/register_content.html.twig" %}
    </div>
{% endblock %}
