{% extends "::base.html.twig" %}
{% block body %}
    <a class="pull-right btn" href="{{ path('fos_user_registration_register') }}">Rejestracja</a>
    <div class="container">
        <h3>Logowanie</h3>

        {{ include('@FOSUser/Security/login_content.html.twig') }}

    </div>
{% endblock %}